<div class="div-about-us container">
  <div class="row">
    <div class="col-md-7 col-sm-12 text-justify">
      <h2>
        <b> {{ "about_us.title" | translate | uppercase }} </b>
      </h2>
      <br />
      <p>
        {{ "about_us.description1" | translate }}
      </p>
      <p>
        {{ "about_us.description2" | translate }}
      </p>
      <p>
        {{ "about_us.description3" | translate }}
      </p>
      <p>
        {{ "about_us.description4" | translate }}
      </p>
    </div>
  </div>
</div>
