<!--IMAGE SECTION-->
<div class="home-image">

  <!--MAIN CONTAINER-->
  <div class="main-container container">
    <app-carrousel></app-carrousel>

    <br />
    <a nghref="#" routerLink="/home/contact" class="btn btn-primary btn-lg"  >{{"carousel.more_information" | translate}}</a>

    <br><br><br><br><br><br><br>
    <!-- <app-track-shipment></app-track-shipment> -->
  </div>

  <div class="img-about-us">
    <app-about-us id="about_us_section"></app-about-us>
  </div>

  <app-services id="services_section"></app-services>

  <app-values></app-values>

  <app-footer></app-footer>
</div>
