<div id="values-container" class="values-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div
          id="carouselValues"
          #carousel
          class="carousel slide carousel-fade"
          data-bs-ride="carousel"
          data-bs-interval="8000"
        >
          <div class="carousel-indicators hidden-sm">
            <button
              *ngFor="let v of values; let i = index"
              type="button"
              data-bs-target="#carouselValues"
              [attr.data-bs-slide-to]="i"
              [class]="i === 0 ? 'active' : ''"
              aria-current="true"
            ></button>
          </div>
          <div class="carousel-inner">
            <div
              *ngFor="let v of values; let i = index"
              [class]="i === 0 ? 'carousel-item active' : 'carousel-item'"
            >
              <h1>
                {{ "services.value" + v | translate | uppercase }}
              </h1>
              <p>
                {{ "services.value_desc" + v | translate }}
              </p>
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-primary btn-lg btn-learn-more" (click)="goContact()">
          {{ "carousel.credit_button" | translate | uppercase }}
        </button>


      </div>

      <div class="col-md-8 col-sm-12 hidden-sm">
        <div class="image-container">
          <img src="/assets/img/big-logo.png"/>
        </div>
      </div>
    </div>
  </div>
</div>
