<div class="dashboard-container">
  <div class="main-container container">
    <div class="row">
      <div class="col-md-12">
        <div class="relative">
          <a nghref="#" class="mb-5 block black">
            &nbsp;
          </a>
          <h3 class="bold mb-4">
            {{ 'quotes.title' | translate | uppercase }}
          </h3>
          <p>
            {{ 'quotes.subtitle' | translate }}
          </p>

          <img src="/assets/img/icon-quotations-off.png" />
        </div>
        <br>
      </div>
    </div>
  </div>

  <div class="quotations-service">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h5>
            <b>
              {{ 'quotes.how_help' | translate | uppercase }}
            </b>
          </h5>
        </div>
      </div>
      <form [formGroup]="formQuote" (ngSubmit)="submitQuote()">
        <div class="row">
          <div class="col-md-4 col-12">
            <input type="text" class="form-control mt-4" placeholder="{{ 'quotes.first_name' | translate }} *"
              formControlName="first_name" />
          </div>
          <div class="col-md-4 col-12">
            <input type="text" class="form-control mt-4" placeholder="{{ 'quotes.business' | translate }} *"
              formControlName="business" />
          </div>
          <div class="col-md-4 col-12">
            <input type="text" class="form-control mt-4" placeholder="{{ 'quotes.email' | translate }} *"
              formControlName="email" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-12">
            <input type="text" class="form-control mt-4" placeholder="{{ 'quotes.origin' | translate }}"
              formControlName="origin" />
          </div>
          <div class="col-md-4 col-12">
            <input type="text" class="form-control mt-4" placeholder="{{ 'quotes.destiny' | translate }}"
              formControlName="destiny" />
          </div>
          <div class="col-md-4 col-12">
            <input type="text" class="form-control mt-4" placeholder="{{ 'quotes.type_merchandise' | translate }}"
              formControlName="type_merchandise" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-12">
            <input type="text" class="form-control mt-4" placeholder="{{ 'quotes.quantity' | translate }}"
              formControlName="quantity" />
          </div>


          <div class="col-md-4 col-12">
            <select class="form-control mt-4" formControlName="type_service">
              <option value="" selected>{{ 'quotes.service' | translate }}</option>
              <ng-container *ngFor="let service of services">


                <option> {{ "services.service" + service + "_short" | translate | uppercase }}</option>
              </ng-container>
            </select>
          </div>

          <div class="col-md-4 col-12">
            <select class="form-control mt-4" formControlName="incoterm">
              <option value="" selected>{{ 'quotes.incoterm' | translate }}</option>
              <option value="DAT">{{ 'quotes.DAT' | translate }}</option>
              <option value="EXW">{{ 'quotes.EXW' | translate }}</option>
              <option value="FCA">{{ 'quotes.FCA' | translate }}</option>
              <option value="FAS">{{ 'quotes.FAS' | translate }}</option>
              <option value="FOB">{{ 'quotes.FOB' | translate }}</option>
              <option value="CFR">{{ 'quotes.CFR' | translate }}</option>
              <option value="CIF">{{ 'quotes.CIF' | translate }}</option>
              <option value="CPT">{{ 'quotes.CPT' | translate }}</option>
              <option value="CIP">{{ 'quotes.CIP' | translate }}</option>
              <option value="DAT">{{ 'quotes.DAT' | translate }}</option>
              <option value="DAP">{{ 'quotes.DAP' | translate }}</option>
              <option value="DDP">{{ 'quotes.DDP' | translate }}</option>

            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <textarea class="form-control mt-4" placeholder="{{ 'quotes.special_request' | translate }}"
              formControlName="special_request"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary w-100" [disabled]="!formQuote.valid">{{ 'quotes.submit' |
              translate | uppercase }}</button>
          </div>
        </div>
      </form>



      <div class="row">
        <div class="col-md-4 col-12">
          <div class="mt-4 card-info">
            <h4>
              <img src="/assets/img/phone.png" />
              {{ 'quotes.phone' | translate | uppercase }}
            </h4>
            <p>
              <span>MEX</span>
              +52 (556) 826 3041
            </p>
            <p>
              <span>{{ 'quotes.us' | translate | uppercase }}</span>
              +1 (305) 564 1315
            </p>
          </div>
        </div>

        <div class="col-md-4 col-12">
          <div class="mt-4 card-info">
            <h4>
              <img src="/assets/img/email2.png" />
              {{ 'quotes.email' | translate | uppercase }}
            </h4>
            <p>
              info@loopintermodal.com
            </p>
            <p>&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
  </div>




  <p-dialog class="confirmation-dialog" [(visible)]="displayConfirmation" [modal]="true"
    [breakpoints]="{ '960px': '90vw' }" [style]="{ width: '30vw' }" [draggable]="false" [resizable]="false"
    [closeOnEscape]="false">
    <img *ngIf="!isError" src="/assets/img/success.png" class="mb-3" />
    <img *ngIf="isError" src="/assets/img/error.png" class="mb-3" />
    <h3>{{ titleMesasge | uppercase }}</h3>
    <p [innerHTML]="message"></p>
    <hr />
    <button type="button" class="btn btn-primary w-100" (click)="closeContact()">
      {{ "contact.message_button" | translate | uppercase }}
    </button>
    <hr class="mb-0" />
  </p-dialog>
  <app-footer></app-footer>
</div>