<div class="dashboard-container">
  <div class="main-container container">
    <div class="row">
      <div class="col-md-12">
        <div class="relative">
          <h3 class="bold mb-5 mt-5">
            {{ "nav_bar.my_profile" | translate | uppercase }}
          </h3>
          <img src="/assets/img/icon-profile.png" />
        </div>
        <br>
      </div>
    </div>
  </div>

  <section class="profile-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12">
          <h4>
            <b>{{ 'profile.personal_information' | translate | uppercase }}</b>
          </h4>
          <p>{{ 'profile.info_visible' | translate }}</p>
        </div>
        <div class="col-lg-6 col-12">
          <div class="alert alert-warning">
            <div class="row">
              <div class="col-1">
                <img class="mt-2" src="/assets/img/icon-warning.png" />
              </div>
              <div class="col-11">
                <p class="mb-0"><b>{{ 'profile.warning_title' | translate }}</b></p>
                {{ 'profile.warning_subtitle' | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12">
          <label class="fs-14">{{ 'profile.full_name' | translate }} *</label>
          <input type="text" placeholder="{{ 'profile.full_name' | translate }}" disabled class="form-control mb-4" />
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <label class="fs-14">{{ 'profile.email' | translate }} *</label>
          <input type="text" placeholder="example@example.com" disabled class="form-control mb-4" />
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <label class="fs-14">{{ 'profile.company_name' | translate }} *</label>
          <input type="text" placeholder="{{ 'profile.company_name' | translate }}" disabled
            class="form-control mb-4" />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12">
          <label class="fs-14">{{ 'profile.job_title' | translate }}</label>
          <input type="text" placeholder="{{ 'profile.job_title' | translate }}" disabled class="form-control mb-4" />
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <label class="fs-14">{{ 'profile.location' | translate }}</label>
          <input type="text" placeholder="{{ 'profile.location' | translate }}" disabled class="form-control mb-4" />
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <label class="fs-14">{{ 'profile.country' | translate }}</label>
          <input type="text" placeholder="{{ 'profile.country' | translate }}" disabled class="form-control mb-4" />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12">
          <label class="fs-14">{{ 'profile.phone' | translate }} *</label>
          <input type="text" placeholder="+52 000 000 000" disabled class="form-control mb-4" />
        </div>
      </div>
      <hr>

      <h6>
        <b>{{ 'profile.application_references' | translate | uppercase }}</b>
      </h6>
      <p>{{ 'profile.settings_used' | translate }}</p>

      <form>

        <div class="row">
          <div class="col-lg-4 col-md-6 col-12">
            <select class="form-control mb-4 mt-2">
              <option>{{ 'profile.language' | translate }}</option>
            </select>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <select class="form-control mb-4 mt-2">
              <option>{{ 'profile.measure_system' | translate }}</option>
            </select>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <select class="form-control mb-4 mt-2">
              <option>{{ 'profile.time_zone' | translate }}</option>
            </select>
          </div>
        </div>

        <p class="font-responsive">
          <input type="checkbox" />
          {{ 'profile.agree_communications' | translate }}
        </p>

        <hr>

        <div class="form-buttons">
          <button type="button" class="btn btn-primary me-3">
            {{ 'profile.update_profile' | translate | uppercase }}
          </button>
          <button type="button" class="btn btn-outline-info me-1">
            {{ 'profile.cancel' | translate | uppercase }}
          </button>
        </div>
      </form>
    </div>
  </section>

  <app-footer></app-footer>
</div>
