<div class="dashboard-container">
  <div class="main-container container">
    <div class="row">
      <div class="col-md-12">
        <div class="relative">
          <a nghref="#" class="mb-5 block black" [routerLink]="['/dashboard']">
            <i class="fa fa-chevron-left"></i>
            {{ "quotation.back_button" | translate | uppercase }}
          </a>
          <h3 class="bold mb-5">
            {{ "dashboard.quotations_title" | translate | uppercase }}
          </h3>

          <img src="/assets/img/icon-quotations-off.png" />
        </div>
        <br>
      </div>
    </div>
  </div>

  <div class="quotations-table">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <br />
          <p-table [value]="quotes" [paginator]="true" [rows]="7">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 20%" class="fs-14">
                  {{ "quotation.quote_number_column" | translate | uppercase }}
                </th>
                <th style="width: 20%" class="fs-14">
                  {{ "quotation.product_column" | translate | uppercase }}
                </th>
                <th style="width: 20%" class="fs-14">
                  {{ "quotation.from_column" | translate | uppercase }}
                </th>
                <th style="width: 20%" class="fs-14">
                  {{ "quotation.to_column" | translate | uppercase }}
                </th>
                <th style="width: 13%" class="fs-14">
                  {{ "quotation.status_column" | translate | uppercase }}
                </th>
                <th style="width: 7%" class="fs-14">
                  {{
                    "quotation.expiration_date_column" | translate | uppercase
                  }}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-quote>
              <tr>
                <td>
                  <a
                    nghref="#"
                    class="blue"
                    class="fs-14"
                    [routerLink]="['/dashboard/quotations', quote.id]"
                    >{{ quote.idStr }}</a
                  >
                </td>
                <td>{{ quote.product }}</td>
                <td>{{ quote.from }}</td>
                <td>{{ quote.to }}</td>
                <td>
                  <ng-container [ngSwitch]="quote.status">
                    <span
                      *ngSwitchCase="0"
                      class="badge-loop badge-loop-success fs-12"
                      >{{
                        "quotation.open_status" | translate | uppercase
                      }}</span
                    >
                    <span
                      *ngSwitchCase="1"
                      class="badge-loop badge-loop-danger fs-12"
                      >{{
                        "quotation.lost_status" | translate | uppercase
                      }}</span
                    >
                    <span
                      *ngSwitchCase="2"
                      class="badge-loop badge-loop-warning fs-12"
                      >{{
                        "quotation.posted_status" | translate | uppercase
                      }}</span
                    >
                    <span
                      *ngSwitchCase="3"
                      class="badge-loop badge-loop-danger fs-12"
                      >{{
                        "quotation.declined_status" | translate | uppercase
                      }}</span
                    >
                    <span
                      *ngSwitchCase="4"
                      class="badge-loop badge-loop-success fs-12"
                      >{{
                        "quotation.confirmed_status" | translate | uppercase
                      }}</span
                    >
                  </ng-container>
                </td>
                <td class="fs-14">
                  {{ quote.expirationDate | date : "dd/MM/yyyy" }}
                </td>
              </tr>
            </ng-template>
          </p-table>
          <br /><br />
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
