<div class="dashboard-container">
  <div class="main-container container">
    <div class="row">
      <div class="col-md-12">
        <div class="relative">
          <a nghref="#" class="mb-5 block black" [routerLink]="['/dashboard']">
            <i class="fa fa-chevron-left"></i>
            {{ "quotation.back_button" | translate | uppercase }}
          </a>
          <h3 class="bold mb-5">
            {{ "dashboard.shipments_title" | translate | uppercase }}
          </h3>

          <img src="/assets/img/icon-shipments-off.png" />
        </div>
        <br />
      </div>
    </div>
  </div>

  <div class="shipments-table" *ngIf="shipments">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <br />
          <p-table [value]="shipments" dataKey="id" [paginator]="true" [rows]="7" responsiveLayout="stack"
            [breakpoint]="'991px'">
            <ng-template pTemplate="header">
              <tr>
                <th class="fs-14 w-20">{{ 'shipments.ref' | translate | uppercase }}</th>
                <th class="fs-14 w-20">{{ 'shipments.product' | translate | uppercase }}</th>
                <th class="fs-14 w-15">{{ 'shipments.bill' | translate | uppercase }}</th>
                <th class="fs-14 w-25">{{ 'shipments.transport' | translate | uppercase }}</th>
                <th class="fs-14 w-15">{{ 'shipments.status' | translate | uppercase }}</th>
                <th class="w-5"></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-shipment let-expanded="expanded">
              <tr>
                <td class="p-column-title fs-14 row-shipment">
                  <div>
                    <span class="block">
                      <b>{{ 'shipments.ref' | translate | uppercase }}</b>
                    </span>
                    <a nghref="#" class="blue" class="fs-14" [routerLink]="['/dashboard/shipment/' + shipment.shipmentRef]">
                      #{{ shipment.shipmentRef }}
                    </a>
                  </div>

                  <div class="flex">
                    <ng-container [ngSwitch]="shipment.currentStatus.status">
                      <span *ngSwitchCase="0" class="badge-loop badge-loop-info fs-12">
                        {{ 'shipments.pick_up' | translate | uppercase }}
                      </span>
                      <span *ngSwitchCase="1" class="badge-loop badge-loop-warning fs-12">
                        {{ 'shipments.set_sail' | translate | uppercase }}
                      </span>
                      <span *ngSwitchCase="2" class="badge-loop badge-loop-success fs-12">
                        {{ 'shipments.arrived' | translate | uppercase }}
                      </span>
                      <span *ngSwitchCase="3" class="badge-loop badge-loop-default fs-12">
                        {{ 'shipments.delivered' | translate | uppercase }}
                      </span>
                    </ng-container>
                  </div>

                  <div class="flex">
                    <button type="button" pButton [pRowToggler]="shipment"
                      class="p-button-text p-button-rounded p-button-plain">
                      <i [class]="expanded ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
                    </button>
                  </div>
                </td>
                <td class="fs-14 hidden-sm">
                  <a nghref="#" class="blue" class="fs-14" [routerLink]="['/dashboard/shipment/' + shipment.shipmentRef]">
                    #{{ shipment.shipmentRef }}
                  </a>
                </td>
                <td class="fs-14 hidden-sm">
                  {{ shipment.product }}
                </td>
                <td class="fs-14 hidden-sm">{{ shipment.billLanding }}</td>
                <td class="fs-14 hidden-sm">{{ shipment.transportType }}</td>
                <td class="hidden-sm">
                  <ng-container [ngSwitch]="shipment.currentStatus.status">
                    <span *ngSwitchCase="0" class="badge-loop badge-loop-info fs-12">
                      {{ 'shipments.pick_up' | translate | uppercase }}
                    </span>
                    <span *ngSwitchCase="1" class="badge-loop badge-loop-warning fs-12">
                      {{ 'shipments.set_sail' | translate | uppercase }}
                    </span>
                    <span *ngSwitchCase="2" class="badge-loop badge-loop-success fs-12">
                      {{ 'shipments.arrived' | translate | uppercase }}
                    </span>
                    <span *ngSwitchCase="3" class="badge-loop badge-loop-default fs-12">
                      {{ 'shipments.delivered' | translate | uppercase }}
                    </span>
                  </ng-container>
                </td>
                <td class="hidden-sm">
                  <button type="button" pButton [pRowToggler]="shipment"
                    class="p-button-text p-button-rounded p-button-plain">
                    <i [class]="expanded ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
                  </button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-shipmentDetail>
              <tr class="row-expansion">
                <td colspan="6" class="p-0">
                  <app-shipment-detail [shipmentDetail]="shipmentDetail"></app-shipment-detail>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
