img.flag {
  width: 30px;
  margin-right: 10px;
}

span.name-language {
  color: var(--color-black);

}

div.lang-selector {
  margin-left: 80px;
}
@media (min-width: 0px) and (max-width: 991px) {
  div.lang-selector {
    margin-left: -10px;
  }
}
