<div class="contact-container">
  <div class="header">
    <div class="container padding-50">
      <div class="row">
        <div class="col-8">
          <h1>
            {{ "contact.title" | translate | uppercase }}
          </h1>
        </div>
        <div class="col-4 text-end">
          <img src="/assets/img/map-icon.png" />
        </div>
      </div>
    </div>
  </div>

  <div class="map" id="map"></div>

  <div class="info padding-50">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-12">
          <div class="office-container">
            <span class="block office-text">
              <img src="/assets/img/map-marker.png" />
              {{ "contact.us_office" | translate | uppercase }}
            </span>
            <p class="info-text mb-2">
              50 W. Mashta Dr. Suite 4 Miami, Florida 33149 - USA
            </p>
            <p class="info-text mb-0">
              <b>{{ "contact.phone_label" | translate }}:</b>
              +1 (305) 564 1315
            </p>
            <p class="info-text">
              <b class="me-2">{{ "contact.email_label" | translate }}:</b>
              <span class="email">info@loopintermodal.com</span>
            </p>
          </div>

          <div class="office-container">
            <span class="block office-text">
              <img src="/assets/img/map-marker.png" />
              {{ "contact.mexico_office" | translate | uppercase }}
            </span>
            <p class="info-text mb-2">Av. Oaxaca 86 - 1 CDMX, Mexico 06700</p>
            <p class="info-text mb-0">
              <b>{{ "contact.phone_label" | translate }}:</b> +1 52 (55)
              68263041
            </p>
            <p class="info-text">
              <b class="me-2">{{ "contact.email_label" | translate }}:</b>
              <span class="email">info@loopintermodal.com</span>
            </p>
          </div>

          <div class="office-container">
            <span class="block office-text">
              <img src="/assets/img/map-marker.png" />
              {{ "contact.europe_office" | translate | uppercase }}
            </span>
            <p class="info-text mb-2">
              P.º de la Castellana, 77, 28046 Madrid,
              {{ "contact.spain_label" | translate }}
            </p>
          </div>
        </div>
        <div class="col-md-1 col-12">&nbsp;</div>
        <div class="col-md-8 col-12">
          <div class="form-container">
            <form [formGroup]="formContact" (ngSubmit)="submitContact()">
              <input
                type="text"
                class="form-control mb-0"
                placeholder="{{ 'contact.form.name' | translate }} *"
                formControlName="name"
              />
              <div class="divError mb-4">
                <span
                  class="font-responsive text-danger"
                  *ngIf="validator.validFormField(formContact, 'name')"
                  >{{ "validations.required" | translate }}</span
                >
              </div>

              <input
                type="text"
                class="form-control mb-0"
                placeholder="{{ 'contact.form.surname' | translate }} *"
                formControlName="surname"
              />
              <div class="divError mb-4">
                <span
                  class="font-responsive text-danger"
                  *ngIf="validator.validFormField(formContact, 'surname')"
                  >{{ "validations.required" | translate }}</span
                >
              </div>

              <input
                type="text"
                class="form-control mb-0"
                placeholder="{{ 'contact.form.email' | translate }} *"
                formControlName="email"
                required 
              />
              <div class="divError mb-4">
                <span
                  class="font-responsive text-danger"
                  *ngIf="validator.validFormField(formContact, 'email')"
                  >{{ "validations.required" | translate }}</span
                >
              </div>

              <input
                type="text"
                class="form-control mb-0"
                placeholder="{{ 'contact.form.phone' | translate }} *"
                formControlName="phone"
              />
              <div class="divError mb-4">
                <span
                  class="font-responsive text-danger"
                  *ngIf="validator.validFormField(formContact, 'phone')"
                  >{{ "validations.required" | translate }}</span
                >
              </div>

              <input
                type="text"
                class="form-control mb-0"
                placeholder="{{ 'contact.form.business' | translate }} *"
                formControlName="business"
              />
              <div class="divError mb-4">
                <span
                  class="font-responsive text-danger"
                  *ngIf="validator.validFormField(formContact, 'business')"
                  >{{ "validations.required" | translate }}</span
                >
              </div>

              <input
                type="text"
                class="form-control mb-0"
                placeholder="{{ 'contact.form.contact_reason' | translate }} *"
                formControlName="contactReason"
              />
              <div class="divError mb-4">
                <span
                  class="font-responsive text-danger"
                  *ngIf="validator.validFormField(formContact, 'contactReason')"
                  >{{ "validations.required" | translate }}</span
                >
              </div>

              <textarea
                class="form-control mb-0"
                placeholder="{{ 'contact.form.reasons' | translate }} *"
                formControlName="notes"
              ></textarea>
              <div class="divError mb-4">
                <span
                  class="font-responsive text-danger"
                  *ngIf="validator.validFormField(formContact, 'notes')"
                  >{{ "validations.required" | translate }}</span
                >
              </div>

              <button
                type="submit"
                class="btn btn-primary w-100"
                [disabled]="!formContact.valid"
              >
                {{ "contact.form.send" | translate | uppercase }}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p-dialog
    class="confirmation-dialog"
    [(visible)]="displayConfirmation"
    [modal]="true"
    [breakpoints]="{ '960px': '90vw' }"
    [style]="{ width: '30vw' }"
    [draggable]="false"
    [resizable]="false"
    [closeOnEscape]="false"
  >
    <img *ngIf="!isError" src="/assets/img/success.png" class="mb-3" />
    <img *ngIf="isError" src="/assets/img/error.png" class="mb-3" />
    <h3>{{ titleMesasge | uppercase }}</h3>
    <p [innerHTML]="message"></p>
    <hr />
    <button
      type="button"
      class="btn btn-primary w-100"
      (click)="closeContact()"
    >
      {{ "contact.message_button" | translate | uppercase }}
    </button>
    <hr class="mb-0" />
  </p-dialog>

  <app-footer></app-footer>
</div>
