div.dashboard-container {
  div.header-dashboard {
    padding-top: 23.5px;
    padding-bottom: 23.5px;

    > p {
      font-size: 24px;
      font-weight: 100;
    }
  }

  div.tracking-container {
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  div.dashboard-cards-container {
    background-color: var(--color-white);
    padding: 37px 0px;

    div.dashboard-card {
      background-color: var(--color-white);
      border-radius: 15px;
      padding: 15px;
      box-shadow: 2px 2px 4px rgba(112, 128, 176, 0.11),
        6px 6px 30px rgba(174, 195, 214, 0.29);
      position: relative;
      margin-bottom: 16px;

      > p.title {
        font-size: 12px;
      }

      > p.number {
        color: var(--color-blue-progress);
        font-size: 64px;
      }

      > img.icon {
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
  }
}
